version: "3.9"

services:
  postgres:
    image: postgres:18.3
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: MyPassword123
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
