name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Check code formatting
        run: npm run prettier:check

      - name: Run ESLint
        run: npm run lint

      - name: Run TypeScript compiler
        run: npm run typecheck

      - name: Run Knip
        run: npm run knip

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: code-quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build:ci

  unit-and-component-test:
    name: Unit and Component Test
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run Unit and Component Tests
        run: npm run test -- --run

  e2e-test:
    name: E2E Test
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: build
    env:
      ZITADEL_CLIENT_ID: test-client-id
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run E2E Tests
        run: npx playwright test

      - name: Upload Playwright Report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 14
